.im{
  height: 50px;
  width: 30%;
}
.navbar-brand{
  font-family: cursive !important;
  margin-left: 45%;
  font-size: 50px !important;
  
}
#nav{
background-color: #F08080 !important ;

}
.card{
  margin-top: 3%;
  margin-left: 3%;
}

#btn{
  color: #DCDCDC;
  border-color:#DCDCDC ;
  
}

.form-control{
  width: 35% !important;

}
.for{
  margin-left: 17% !important;
  position: relative;
  margin-top: 35%;
}
